*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  margin: 0 auto;
  min-height: 100vh;
  color: #eaebc6;
  background: linear-gradient(15deg, #babd42, #6e9086);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
}

.grid {
  width: 75%;
  column-gap: 2rem;
  margin: auto;
  height: 75%;
  display: grid;
  grid-template-columns: 30% 1fr;
}

h1 {
  grid-column: 1/-1;
  margin: 3rem 0;
  text-align: center;
}

nav {
  border: 1px solid #c8ca68;
  padding: 3rem 2rem;
  /* height: inherit; */
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}
.nav-items {
  /* background-color: #eee; */
  padding: 1rem;
}

.nav-items:hover {
  cursor: pointer;
}

.active {
  border: 1px solid #c8ca68;
}

main {
  border: 1px solid #c8ca68;
}

.questionnaires {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem;
  height: 100%;
}

.results {
  height: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: bold;
}

.results_count {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container {
  max-width: 100rem;
  overflow: hidden;
  position: relative;
  height: 30rem;
}

.progress {
  width: 80%;
  border: 1px solid #babd42;
  margin: 0 auto;
  border-radius: 1rem;
}
.progress-status {
  padding: 0.5rem;
  background: linear-gradient(to bottom, #6e9086, #babd42);
  border-radius: 5rem;
}

.box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  padding: 2rem 3rem;
  transition: all 0.5s;
}

h3 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.options div {
  font-size: 1.6rem;
  border: 1px solid #babd42;
  padding: 1rem;
}

.options div:hover {
  cursor: pointer;
}

.selectedOption {
  background-color: #c0c45545;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5rem;
  padding: 0rem 5rem;
}

.btns button {
  background-color: transparent;
  border: 1px solid #d6d78e;
  padding: 0.5rem 2rem;
  color: #5d5f21;
}

.btns button {
  cursor: pointer;
}

.hide {
  display: none;
}

.incorrect {
  border: 2px solid #babd42;
  background-color: #b7c8c36a;
}
