*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  width: 75%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 30% 1fr;
  column-gap: 2rem;
}

h1 {
  grid-column: 1/-1;
  margin: 3rem 0;
  text-align: center;
}

nav {
  background-color: pink;
  padding: 3rem 0;
}

main {
  background-color: yellowgreen;
}

section {
  background-color: rgb(50, 190, 205);
  max-width: 100rem;
  overflow: hidden;
  position: relative;
  height: 40rem;
}

.box {
  background-color: rgb(205, 109, 50);
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  display: flex;
  width: 100%;
  flex-direction: column;
  z-index: 20;
}

h3 {
  font-size: 2rem;
  margin-bottom: 2.4rem;
}

.options div:not(:last-child) {
  margin-bottom: 1.3rem;
  font-size: 1.8rem;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 3rem;
}

.btns button {
  background-color: transparent;
  border: 2px solid black;
  padding: 0.2rem 0.5rem;
}

.btns button {
  cursor: pointer;
}
