*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  width: 75%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 30% 1fr;
  column-gap: 2rem;
}

h1 {
  grid-column: 1/-1;
  margin: 3rem 0;
  text-align: center;
}

nav {
  border: 1px solid grey;
  padding: 3rem 2rem;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
}

main {
}

section {
  max-width: 100rem;
  overflow: hidden;
  position: relative;
  height: 30rem;
}

.progress-bar {
  padding: 2rem;
}

.box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  padding: 2rem 3rem;
}

h3 {
  font-size: 2rem;
  margin-bottom: 2.4rem;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.options div {
  font-size: 1.6rem;
  border: 1px solid grey;
  padding: 1rem;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 3rem;
}

.btns button {
  background-color: transparent;
  border: 1px solid black;
  padding: 0.5rem 2rem;
}

.btns button {
  cursor: pointer;
}
